.account-head{
	margin-top: 50px;
	height: 45px;
	padding-left: 10px;
	background-color: rgb(179,179,179);
	border: 1px solid #000;
}

.account-header{
	font-size: 1.9rem;
	color: #000;
}

.account-info{
	border: 1px solid #000;
	padding: 30px 20px 20px 10px;
}