@font-face {
    font-family: Orbitron;
    src: url(/fonts/Orbitron-VariableFont_wght.ttf?c641d3e90c64fcb82f8f5e2ac5317e98);
}

@font-face {
    font-family: Courgette;
    src: url(/fonts/Courgette-Regular.ttf?59c3685a73f0f1b7c302dd2d6dabd628);
}*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-size: 15px;
    width: 100%;
    line-height: 1.15;
    scroll-behavior: smooth;
    -webkit-text-size-adjust:100%;
    -webkit-tap-highlight-color:transparent;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, "Helvetica Neue" ,Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

h1, h2, h3, h4, h5, h6{
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

a{
    text-decoration: none;
}/*          Main Page Styling      */

/*          Font imports            */

/*          Root Styling            */

.loader {
  position: absolute;
  z-index: 3;
  height: 100%;
  width: 100%;
  background-color: #FFF;
  display: none;
}

.overlay {
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  display: none;
}

.copyright {
  display: flex;
  flex-flow: row;
  justify-content: center;
  padding: 0.5rem 0;
  align-self: center;
}

.copyright p {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
}

.copyright p span {
  text-align: center;
}

.copyright p #ht {
  color: #5ca7f7 !important;
}

.copyright p .copyright-dot {
  display: none;
}

.copyright p i {
  color: #f0f;
  font-size: 1rem;
}

