@font-face {
    font-family: Orbitron;
    src: url('../../../public/fonts/Orbitron-VariableFont_wght.ttf');
}

@font-face {
    font-family: Courgette;
    src: url('../../../public/fonts/Courgette-Regular.ttf');
}