/*          Main Page Styling      */

/*          Font imports            */
@import url('../inc/_fonts.scss');

/*          Root Styling            */
@import url('../inc/_root.scss');

.loader{
    position: absolute;
    z-index: 3;
    height: 100%;
    width: 100%;
    background-color: #FFF;
    display: none;
}

.overlay{
    position: absolute;
    z-index: 2;
    background-color: rgb(0,0,0,.5);
    height: 100%;
    width: 100%;
    display: none;
}

.copyright {
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding: .5rem 0;
    align-self: center;

    p{
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 1rem;

        span{
            text-align: center;
        }

        #ht {
            color: #5ca7f7 !important;
        }

        .copyright-dot {
            display: none;
        }
    
        i {
            color: #f0f;
            font-size: 1rem;
        }
    }
} 
